/* General */

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --ff--barlow: "barlow", Arial, Helvetica, sans-serif;
  --ff-fraunces: "fraunces", Arial, Helvetica, sans-serif;
}

*,
body,
html,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: transparent;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 18px;
  font-family: var(--ff--barlow);
  font-weight: 600;
}

.text-very-dark-dblue {
  color: var(--very-dark-desaturated-blue);
}

.text-grayish-blue {
  color: var(--grayish-blue);
}

.text-dark-grayish-blue {
  color: var(--dark-grayish-blue);
}

.text-very-dark-grayish-blue {
  color: var(--very-dark-grayish-blue);
}

.text-dark-dcyan {
  color: var(--dark-desaturated-cyan);
}

.text-dark-mcyan {
  color: var(--dark-moderate-cyan);
}

.text-dark-blue {
  color: var(--dark-blue);
}

.text-fraunces {
  font-family: var(--ff-fraunces);
}

.text-barlow {
  font-family: var(--ff-barlow);
}

a.text-very-dark-dblue:hover {
  color: var(--very-dark-desaturated-blue);
}

/* header */

header {
  background-color: #3dbeff;
}

nav a:hover {
  color: var(--dark-grayish-blue) !important;
}

#navBar {
  transition: transform 0.4s, opacity 0.4s;
  opacity: 0;
  transform: scale(0.6);
  pointer-events: none;
  flex-basis: 100%;
}

#navBar.show {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

.menu-list {
  position: relative;
  top: 1rem;
  flex: 0 0 100%;
}

.nav-triangle {
  position: absolute;
  top: 4px;
  right: 0px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;

  border-right: 30px solid white;
}

.menu-list__ul {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0px;
  background-color: #fff;
  padding: 30px 0px;
}

.nav-link {
  color: var(--dark-grayish-blue);
}

.navbar-toggler:hover {
  box-shadow: unset !important;
}

.menu-contact-btn {
  background-color: var(--yellow);
  font-family: var(--ff-fraunces);
  font-weight: 700;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: var(--very-dark-desaturated-blue);
  transition: background-color 0.4s, color 0.4s;
}

nav a.menu-contact-btn:hover {
  background-color: black;
  color: var(--yellow) !important;
}

/* hero section */

.hero {
  background: url("../images/icon-arrow-down.svg") no-repeat top 190px center,
    url("../images/mobile/image-header.jpg") no-repeat bottom center / cover;
  background-color: #3dbeff;
  height: 440px;
  padding-top: 10px;
}

.hero h1 {
  padding-top: 10px;
  margin-top: 30px;

  font-family: var(--ff-fraunces);
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 4px;
}

/* rows */

.egg-background {
  background: url("../images/mobile/image-transform.jpg") no-repeat center
    center / cover;
  height: 400px;
}

.glass-background {
  background: url("../images/mobile/image-stand-out.jpg") no-repeat center
    center / cover;
  height: 400px;
}

.underline {
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 110%;
  z-index: -1;
  transition: background-color 0.4s;
}

.underline-yellow {
  background-color: #fdf0bd;
}

a:hover > .underline-yellow {
  background-color: var(--yellow);
}

.underline-red {
  background-color: #fbdace;
}

a:hover > .underline-red {
  background-color: #f72929;
}

.two-red-fruit-background {
  height: 660px;
  background: url("../images/mobile/image-graphic-design.jpg") no-repeat top
    center / cover;
}

.two-red-fruit-background h2,
.two-red-fruit-background p,
.orange-background h2,
.orange-background p {
  position: relative;
  top: 440px;
}

.orange-background {
  height: 660px;
  background: url("../images/mobile/image-photography.jpg") no-repeat top center /
    cover;
}

/* backgrounds section */

.backs__back {
  height: 220px;
}

.first-back {
  background: url("../images/mobile/image-gallery-milkbottles.jpg") no-repeat
    center / cover;
}

.second-back {
  background: url("../images/mobile/image-gallery-orange.jpg") no-repeat center /
    cover;
}

.third-back {
  background: url("../images/mobile/image-gallery-cone.jpg") no-repeat center /
    cover;
}

.fourth-back {
  background: url("../images/mobile/image-gallery-sugar-cubes.jpg") no-repeat
    center / cover;
}

footer {
  background-color: #90d4c5;
}

footer a {
  transition: color 0.4s;
}

footer path {
  transition: fill 0.4s;
}

footer a:hover {
  color: var(--white);
}

footer a:hover > svg > path {
  fill: var(--white) !important;
}

/* attribution */

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  nav a:hover {
    color: var(--white) !important;
  }
  
  nav a.menu-contact-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--white) !important;
  }

  .hero {
    background: url("../images/icon-arrow-down.svg") no-repeat top 240px center,
      url("../images/desktop/image-header.jpg") no-repeat bottom center /
        contain;
    background-color: #3dbeff;
    height: 700px;
  }

  .hero h1 {
    margin-top: 70px;
    font-size: 50px;
  }



  #navBar {
    position: static;
    opacity: 1;
    transform: unset;
    pointer-events: all;
    background-color: transparent;
    flex-basis: auto;
  }

  .menu-list__ul {
    position: static;
    flex-direction: row;
    width: unset;
    background-color: transparent;
    padding: 0;
  }

  .nav-link {
    color: var(--white);
  }

  .menu-contact-btn {
    background-color: var(--white);
    color: var(--dark-blue);
    padding: 0;
  }

  .first-four-grid-h2 {
    width: 100% !important;
  }

  .four-grid-box {
    width: 90%;
  }

  .egg-background {
    background: url("../images/desktop/image-transform.jpg") no-repeat center
      center / cover;
    height: 500px;
  }

  .glass-background {
    background: url("../images/desktop/image-stand-out.jpg") no-repeat center
      center / cover;
    height: 500px;
  }

  .two-red-fruit-background {
    height: 600px;
    background: url("../images/desktop/image-graphic-design.jpg") no-repeat top
      center / cover;
  }

  .orange-background {
    height: 600px;
    background: url("../images/desktop/image-photography.jpg") no-repeat top
      center / cover;
  }

  .two-red-fruit-background h2,
  .two-red-fruit-background p,
  .orange-background h2,
  .orange-background p {
    position: relative;
    top: 380px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .feedback-box {
    max-width: 400px;
  }
}

@media screen and (min-width: 992px) {
  .two-red-fruit-background h2,
  .two-red-fruit-background p,
  .orange-background h2,
  .orange-background p {
    position: relative;
    top: 380px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .feedback-box {
    max-width: unset;
  }

  .backs__back {
    height: 400px;
  }

  .first-back {
    background: url("../images/desktop/image-gallery-milkbottles.jpg") no-repeat
      center / cover;
  }

  .second-back {
    background: url("../images/desktop/image-gallery-orange.jpg") no-repeat
      center / cover;
  }

  .third-back {
    background: url("../images/desktop/image-gallery-cone.jpg") no-repeat center /
      cover;
  }

  .fourth-back {
    background: url("../images/desktop/image-gallery-sugarcubes.jpg") no-repeat
      center / cover;
  }
}
